.containerCerts{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-top: 50px;
}
.table{
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    border: 1px solid silver;

}

.header{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid silver;
}
.column{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.column>span{
    color: #747474;
    font-style: bold;
    font-size: 18pt;
}
.body{
    display: flex;
    flex-direction: column;
    align-content: center;
    height: auto;
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.row{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    border-bottom: 1px solid silver;
    min-height: 70px;
}
.field{
    width: 20%;
    text-align: center;
}
.field>div>span{
    margin-right: 10px;
    cursor:pointer;
}
.field>div>span:hover{
    text-decoration: underline #89C403;
    color: #89C403;
    
}
.field>div{
    width: 100%;
    margin-top: 5px;
}