<app-navbar-panel-view></app-navbar-panel-view>
<div class="containerCerts">
  <div class="table">
    <div class="header">
      <div class="column">
        <span>Alias</span>
      </div>
      <div class="column">
        <span>Entidad</span>
      </div>
      <div class="column">
        <span>Subject</span>
      </div>
      <div class="column">
        <span>Organización</span>
      </div>
      <div class="column">
        <span>Repositorio</span>
      </div>
    </div>
    <div class="body">
      <h1>No hay certificados cargados</h1>
    </div>
  </div>
</div>
